body {
  background-color: #130f40;
  font-family: 'Montserrat', sans-serif;
  font-size: 62.5%;
  color: rgba(0, 0, 0, 0.7); }

.box {
  font-size: 2rem; }
  .box .slide-desc {
    font-size: 1.3rem; }
  .box .modal-body {
    font-size: 0.9rem; }

.card-deck {
  font-size: 1rem; }

.card-img,
.modal-img {
  width: 100%; }

.tooltip-paragraph {
  margin-top: 1rem;
  font-size: 1.1rem; }

.tooltip-title {
  border: none;
  cursor: default;
  pointer-events: none; }
  @media (min-width: 1200px) {
    .tooltip-title {
      border: 1px solid black;
      border-radius: 50%;
      padding: 0.5rem 1.2rem;
      transition: 0.1s ease-in-out;
      pointer-events: auto; }
      .tooltip-title:hover {
        background-color: #5bc0de; } }

.text-tooltip {
  font-weight: 700;
  text-decoration: underline; }

.popover-number {
  pointer-events: none;
  color: rgba(0, 0, 0, 0.7); }
  @media (min-width: 1200px) {
    .popover-number {
      pointer-events: auto;
      border: 1px solid rgba(0, 0, 0, 0.7);
      padding: 0.8rem 1.5rem;
      border-radius: 5px; }
      .popover-number:hover {
        color: rgba(0, 0, 0, 0.7);
        text-decoration: none;
        background-color: #56a1b8; } }

.form {
  font-size: 1rem; }
