body {
  background-color: #130f40;
  font-family: 'Montserrat', sans-serif;
  font-size: 62.5%;
  color: rgba(0, 0, 0, 0.7); }

.box {
  font-size: 2rem; }
  .box .slide-desc {
    font-size: 1.3rem; }
  .box .modal-body {
    font-size: 0.9rem; }

.card-deck {
  font-size: 1rem; }

.card-img,
.modal-img {
  width: 100%; }
