body {
  background-color: #130f40;
  font-family: 'Montserrat', sans-serif;
  font-size: 62.5%;
  color: rgba(0, 0, 0, 0.7);
}

.box {
  font-size: 2rem;

  .slide-desc {
    font-size: 1.3rem;
  }

  .modal-body {
    font-size: 0.9rem;
  }
}

.card-deck {
  font-size: 1rem;
}

.card-img,
.modal-img {
  width: 100%;
}

.tooltip-paragraph {
  margin-top: 1rem;
  font-size: 1.1rem;
}

.tooltip-title {
  @media (min-width: 1200px) {
    border: 1px solid black;
    border-radius: 50%;
    padding: 0.5rem 1.2rem;
    transition: 0.1s ease-in-out;

    &:hover {
      background-color: #5bc0de;
    }
  }
}

.text-tooltip {
  font-weight: 700;
  text-decoration: underline;
}
